@page
@model IndexModel
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.5.0/math.min.js"></script>

<h3>Scientific Calculator</h3>
<!-- Toggle Switch for Degree/Radian mode -->
<div class="container">

    <div id="calculator">
        <!-- Display Screen -->
        <h5>RESULT</h5>
        <!-- Display for Current Number Format -->
        <div id="number-format-display">DEC</div>
        <div id="display">0</div>
        <!-- History Screen -->
        <h5>HISTORY</h5>
        <div id="history" class="history-display"></div>
        <button class="button history-button" onclick="clearHistory()">CLEAR</button>

        <div class="operations-wrapper">
        <!-- Memory Functions -->
        <div id="memory-functions-container">
            <button class="button memory-button" onclick="memoryClear()">MC</button>
            <button class="button memory-button" onclick="memoryRecall()">MR</button>
            <button class="button memory-button" onclick="memoryAdd()">M+</button>
            <button class="button memory-button" onclick="memoryMinus()">M-</button>
            <span id="memory-indicator" style="visibility: hidden;">M</span>
        </div>

        <!-- Basic Operations -->
        <div id="basic-operations-container1">
            <button class="button number-button" id="btn-7" onclick="press('7')">7</button>
            <button class="button number-button" id="btn-8" onclick="press('8')">8</button>
            <button class="button number-button" id="btn-9" onclick="press('9')">9</button>
            <button class="button button-func1" onclick="pressOperation('/')">/</button>
            <button class="button clear-button" onclick="clearAll()">CA</button>
        </div>

            <div id="basic-operations-container2">
            <button class="button number-button" id="btn-4" onclick="press('4')">4</button>
            <button class="button number-button" id="btn-5" onclick="press('5')">5</button>
            <button class="button number-button" id="btn-6" onclick="press('6')">6</button>
                <button class="button button-func1" onclick="pressOperation('*')">*</button>
                <button class="button clear-button" onclick="clearEntry()">CE</button>
            </div>

            <div id="basic-operations-container3">
            <button class="button number-button" id="btn-1" onclick="press('1')">1</button>
            <button class="button number-button" id="btn-2" onclick="press('2')">2</button>
            <button class="button number-button" id="btn-3" onclick="press('3')">3</button>
                <button class="button button-func1" onclick="pressOperation('-')">-</button>
            <button class="button equals-button" onclick="calculate()">=</button>
            </div>

            <div id="basic-operations-container4">
            <button class="button button-func1" onclick="toggleSign()">+/-</button>
            <button class="button number-button" id="btn-0" onclick="press('0')">0</button>
            <button class="button button-func1" onclick="press('.')">.</button>
            <button class="button button-func1" onclick="pressOperation('+')">+</button>
            </div>
        </div>

        <div class="advanced-operations-wrapper">
        <!-- Hexademical Buttons -->
            <div id="hexadecimal-buttons-container">
                <h6>HEXADECIMAL</h6>
                <button class="button button-func2" id="btn-A" onclick="press('A')">A</button>
                <button class="button button-func2" id="btn-B" onclick="press('B')">B</button>
                <button class="button button-func2" id="btn-C" onclick="press('C')">C</button>
                <button class="button button-func2" id="btn-D" onclick="press('D')">D</button>
                <button class="button button-func2" id="btn-E" onclick="press('E')">E</button>
                <button class="button button-func2" id="btn-F" onclick="press('F')">F</button>
            </div>

        <div id="power-root-functions-container">
                <h6>POWER AND ROOT</h6>
                <button class="button button-func1" onclick="pressPowerButton()">x^y</button>
                <button class="button button-func1" onclick="pressPower(currentInput, '2')">x<sup>2</sup></button>
                <button class="button button-func1" onclick="pressPower(currentInput, '3')">x<sup>3</sup></button>
                <button class="button button-func1" onclick="pressNthRoot()">y√x</button>
                <button class="button button-func1" onclick="pressSquareRoot()">√</button>
                <button class="button button-func1" onclick="press('pi')">π</button>
        </div>

        <!-- Trigonometry Functions -->
        <div id="trigonometry-functions-container">
                <h6>TRIGONOMETRY</h6>
                <div class="degree-radian-toggle">
                    <label class="switch">
                        <input type="checkbox" id="degree-radian-checkbox" onchange="toggleDegreeRadianMode()">
                        <span class="slider round"></span>
                    </label>
                    <span id="mode-display">Degree</span>
                </div>
                <button class="button button-func2" onclick="pressTrigFunction('sin')">sin</button>
                <button class="button button-func2" onclick="pressTrigFunction('cos')">cos</button>
                <button class="button button-func2" onclick="pressTrigFunction('tan')">tan</button>
                <button class="button button-func2" onclick="pressTrigFunction('asin')">sin<sup>-1</sup></button>
                <button class="button button-func2" onclick="pressTrigFunction('acos')">cos<sup>-1</sup></button>
                <button class="button button-func2" onclick="pressTrigFunction('atan')">tan<sup>-1</sup></button>

        </div>

        <!-- Hyperbolic Functions -->
        <div id="hyperbolic-functions-container">
                <h6>HYPERBOLIC</h6>
                <button class="button button-func1" onclick="pressHyperbolicFunction('sinh')">sinh</button>
                <button class="button button-func1" onclick="pressHyperbolicFunction('cosh')">cosh</button>
                <button class="button button-func1" onclick="pressHyperbolicFunction('tanh')">tanh</button>
                <button class="button button-func1" onclick="pressHyperbolicFunction('asinh')">sinh⁻¹</button>
                <button class="button button-func1" onclick="pressHyperbolicFunction('acosh')">cosh⁻¹</button>
                <button class="button button-func1" onclick="pressHyperbolicFunction('atanh')">tanh⁻¹</button>
        </div>

        <!-- Logarithmic and Exponential Functions -->
        <div id="log-exp-functions-container">
                <h6>LOGARITHMIC AND EXPONENTIAL</h6>
                <button class="button button-func2" onclick="pressLogFunction('log')">log</button>
                <button class="button button-func2" onclick="pressLogFunction('ln')">ln</button>
                <button class="button button-func2" onclick="pressLogBase()">log<sub>b</sub>(x)</button>
                <button class="button button-func2" onclick="pressPowerOf(10)">10<sup>x</sup></button>
                <button class="button button-func2" onclick="pressExponential()">e<sup>x</sup></button>
                <button class="button button-func2" onclick="press('euler')">e</button>
        </div>

        <!-- Number System Functions -->
        <div id="number-system-functions-container">
                <h6>NUMBER SYSTEM</h6>
                <button class="button button-func1" onclick="setToBinaryMode()">BIN</button>
                <button class="button button-func1" onclick="setToOctalMode()">OCT</button>
                <button class="button button-func1" onclick="setToDecimalMode()">DEC</button>
                <button class="button button-func1" onclick="setToHexaMode()">HEX</button>
        </div>

        <!-- Logical Functions -->
        <div id="logical-functions-container">
                <h6>LOGICAL</h6>
            <!-- Logical Buttons -->
                <button class="button button-func2" onclick="setOperation('AND')">AND</button>
                <button class="button button-func2" onclick="setOperation('OR')">OR</button>
                <button class="button button-func2" onclick="setOperation('XOR')">XOR</button>
                <button class="button button-func2" onclick="pressLogicalNot()">NOT</button>

        </div>
        </div>

    </div>

    <!-- Derivative Container -->
    <div id="derivative-container">
        <!-- Derivative Functions -->
        <h5>DERIVATIVE CALCULATOR</h5>
        <!-- Input for entering the function to differentiate -->
        <input type="text" id="function-input" placeholder="Enter function" />
        <!-- Input for specifying the differentiation variable -->
        <input type="text" id="variable-input" placeholder="Enter variable" />
        <!-- Button to trigger differentiation -->
        <button class="button differentiate-button" onclick="performDifferentiation()">Differentiate</button>
        <!-- Display for differentiation result -->
        <div id="derivative-result">--DERIVATIVE RESULT--</div>
        <div>
            <h2>User Guide</h2>
        <h5>Basic Operations</h5>
        <ul>
            <li><strong>Entering Numbers:</strong> Click on the number buttons (0-9) to enter values into the calculator. For hexadecimal calculations, you can also use the buttons (A-F).</li>
            <li><strong>Basic Arithmetic:</strong> Use the <code>+</code>, <code>-</code>, <code>*</code>, and <code>/</code> buttons to perform addition, subtraction, multiplication, and division, respectively.</li>
            <li><strong>Calculations:</strong> After entering your numbers and selecting an operation, press the <code>=</code> button to see the result.</li>
        </ul>

        <h5>Advanced Functions</h5>
        <ul>
            <li><strong>Power and Root:</strong> Use the <code>x^y</code>, <code>x^2</code>, <code>x^3</code>, <code>y√x</code>, and <code>√</code> buttons to perform exponentiation and root calculations.</li>
            <li><strong>Trigonometry:</strong> Choose between degrees and radians using the degree/radian toggle switch. Use <code>sin</code>, <code>cos</code>, <code>tan</code>, and their inverse functions to calculate trigonometric values.</li>
            <li><strong>Hyperbolic Functions:</strong> Calculate hyperbolic functions using the <code>sinh</code>, <code>cosh</code>, <code>tanh</code>, and their inverses.</li>
            <li><strong>Logarithms and Exponentials:</strong> Use <code>log</code>, <code>ln</code>, <code>10^x</code>, and <code>e^x</code> for logarithmic and exponential functions.</li>
        </ul>

        <h5>Memory Functions</h5>
        <ul>
            <li><strong>Memory Add (M+):</strong> Adds the current value to memory.</li>
            <li><strong>Memory Subtract (M-):</strong> Subtracts the current value from memory.</li>
            <li><strong>Memory Recall (MR):</strong> Displays the current value stored in memory.</li>
            <li><strong>Memory Clear (MC):</strong> Clears the stored value from memory.</li>
        </ul>

        <h5>Number Systems</h5>
        <ul>
            <li><strong>Binary (BIN):</strong> Switch to binary mode to enter and calculate with binary numbers.</li>
            <li><strong>Octal (OCT):</strong> Switch to octal mode for octal number calculations.</li>
            <li><strong>Decimal (DEC):</strong> Use decimal mode for standard base-10 calculations.</li>
            <li><strong>Hexadecimal (HEX):</strong> Switch to hexadecimal mode for calculations with hexadecimal numbers.</li>
        </ul>

        <h5>History Feature</h5>
        <p>The calculator keeps track of your calculations in a history list. Click on any entry in the history to use its result in a new calculation.</p>

        <h5>Clearing Inputs</h5>
        <ul>
            <li><strong>Clear All (CA):</strong> Clears all current inputs and resets the calculator.</li>
            <li><strong>Clear Entry (CE):</strong> Clears the last number entered.</li>
        </ul>

        <h5>Symbolic Differentiation</h5>
        <p>Enter a mathematical function and a variable, and the calculator will compute the derivative of the function with respect to the variable.</p>
            <h6>Examples</h6>
            <ul>
                <li>
                    <strong>Function:</strong> x^2 + 3x + 2 <br>
                    <strong>Variable:</strong> x <br>
                    <strong>Result:</strong> The derivative will be 2x + 3.
                </li>
                <li>
                    <strong>Function:</strong> sin(x) <br>
                    <strong>Variable:</strong> x <br>
                    <strong>Result:</strong> The derivative will be cos(x).
                </li>
                <li>
                    <strong>Function:</strong> e^(2x) <br>
                    <strong>Variable:</strong> x <br>
                    <strong>Result:</strong> The derivative will be 2e^(2x).
                </li>
                <li>
                    <strong>Function:</strong> log(x) -- means ln(x) <br>
                    <strong>Variable:</strong> x <br>
                    <strong>Result:</strong> The derivative will be 1/x.
                </li>
            </ul>
            <p>Note: Ensure your function is entered correctly. For example, use <code>x^2</code> for x squared and <code>3*x</code> for three times x.</p>

        <h5>Tips for Use</h5>
            <ul>
                <li>Ensure that the input is appropriate for the selected number system.</li>
                <li>Use the degree/radian toggle to accurately perform trigonometric calculations based on your desired unit.</li>
                <li>Clicking on history entries will populate the current value with the result of that entry for further calculations.</li>
            </ul>

        </div>
    </div>
</div>
